//font
@mixin Museo($style: light) {
	font-family: 'Museo Sans Cyrl 300';

	@if $style == thin {
		font-family: 'Museo Sans Cyrl 100';
	}

	@if $style == bold {
		font-family: 'Museo Sans Cyrl 700';
	}
}

@mixin flex($posX: space-between, $posY: flex-start) {
	display: flex;
	justify-content: $posX;
	align-items: $posY;
}

//992-1200px
@mixin desktop {
	@media screen and (max-width: 1200px) {
		@content;
	}
}

//768-992px
@mixin laptop {
	@media screen and (max-width: 991px) {
		@content;
	}
}

//576-768px
@mixin tablets {
	@media screen and (max-width: 767px) {
		@content;
	}
}

//320-576px
@mixin phones {
	@media screen and (max-width: 575px) {
		@content;
	}
}

//responsive
@function rem($px) {
	@return $px / 15px + 0rem;
}