       /* ------ Advantages ------ */
.advantages {
  padding: rem(57px) 0 rem(49px);
}

.adv::after {
  content: '';
  display: block;
  width: 100%;
  height: rem(2px);
  background-color: #e5e6e8;
  margin-top: rem(53px);
}

.adv-title {
  margin-bottom: rem(28px);
	letter-spacing: 0.02em;
	@include tablets {
		text-align: center;
	}
}

.adv-text {
  font-size: rem(15px);
  max-width: rem(565px);
  letter-spacing: 0.02em;
	line-height: 1.2em;
	@include tablets {
		margin-bottom: rem(23px);
	}
}

.advantage {
	margin-top: rem(35px);
	@include tablets {
		text-align: center;
	}
}

.advantage::after {
  content: '';
  display: block;
  width: 86%;
  height: rem(2px);
  background-color: #e5e6e8;
	margin-top: rem(33px);
	@include laptop {
		width: 100%;
	}
}

.advantage__pic {
  margin-right: rem(39px);
  width: rem(60px);
  height: rem(60px);
  flex-shrink: inherit;
  border: 1px solid #102e62;
  border-radius: 50%;
	background: url('../assets/img/about-icon1.png') no-repeat center;
	@include tablets {
		margin-bottom: rem(30px);
		margin: 0 auto rem(10px);
	}
}

.adv-list__title {
  margin-bottom: rem(17px);
}

.advantage__text {
  max-width: rem(1066px);
  letter-spacing: 0.02em;
	line-height: 1.2em;
	@include laptop {
		max-width: rem(585px);
	}
}

         /* ------ Gallery ------ */
.gallery {
  padding-bottom: rem(68px);
}

.gallery-title {
  margin-bottom: rem(42px);
	letter-spacing: 0.02em;
	@include tablets {
		text-align: center;
	}
}

.photo {
  position: relative;
	max-width: rem(269px);
	@include tablets {
		margin: 0 auto rem(15px);
	}
}

.overlay {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 0;
  color: $white;
  font-size: rem(29px);
  border: rem(7px) solid #9a97a7;
  background-color: rgba(58, 68, 86, 0.69);
	@include flex(center, center);
	transition: all .6s ease;
	&:hover {
		opacity: 1;
	}
}

.open {
	color: $white;
	&:hover {
		color: #9a97a7;
	}
}




     